body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    align-content: center;
}

header {
    position: fixed;
    top: 0px;
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    background-color: #006bb3;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}

footer {
    position: fixed;
    bottom:0px;
    color: #ffffff;
    background-color: #006bb3;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    text-align: center;
    font-size: large;
}

.container {
    background: #DDD;
    color: #333;
    border: 2px solid #999;
    border-radius: 5px;
    width: 97%;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    align-content: center;
    overflow: scroll;
}